.container {
  max-width: 1200px;
  margin: auto;

  .device {
    display: flex;
    flex-wrap: wrap;
    background: white;
    border-radius: 15px;
    border: solid 1px #eff0f2;
    font-family: "Inter", sans-serif;
    padding: 100px 40px 100px 40px;
    animation-name: open-device;
    animation-duration: 1s;

    &-image {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &-content {
      display: flex;
      flex-direction: column;
      gap: 20px;

      & > span {
        color: #242424;
      }
    }

    &-name {
      font-size: 24px;
      font-weight: 700;
      padding-bottom: 25px;
      border-bottom: solid 1px #eff0f2;
    }

    &-category {
      font-size: 18px;
    }

    &-specs {
      display: flex;
      gap: 10px;
    }

    & .specs {
      cursor: pointer;
      width: 65px;
      height: 30px;
      display: flex;
      padding: 7px;
      align-items: center;
      justify-content: center;
      border-radius: 6px;

      &:hover {
        background: #ededed;
      }
    }

    &-price {
      font-size: 18px;

      & > span {
        font-size: 20px;
        color: #ed4e05;
      }
    }

    &-sell-tab {
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      & > .buy-btn {
        cursor: pointer;
        width: 140px;
        height: 50px;
        border: none;
        border-radius: 7px;
        color: white;
        background: #ed4e05;
        font-size: 18px;

        &:hover {
          background: #ff5000;
        }
      }

      & > .inst-btn {
        width: 140px;
        height: 50px;
        border: none;
        border-radius: 7px;
        background: #093251;
        font-size: 18px;
        color: white;
        cursor: pointer;

        &:hover {
          background: #114368;
        }
      }

      & > .cart {
        display: flex;
        width: 65px;
        height: 50px;
        align-items: center;
        justify-content: center;
        border-radius: 6px;
        border: #ededed 2px solid;
        cursor: pointer;

        &:hover {
          background: #ededed;
        }
      }
    }
  }
}

@media only screen and (min-width: 1000px) {
  .container {
    width: 95%;
  }

  .device {
    &-image {
      width: 40%;
    }

    &-info {
      width: 60%;
    }

    &-sell-tab {
      gap: 25px;
    }
  }

  .img {
    height: 320px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1000px) {
  .container {
    width: 98%;
  }

  .device {
    gap: 10%;
    &-image {
      width: 30%;
    }

    &-info {
      width: 55%;
    }

    &-sell-tab {
      gap: 25px;
    }
  }

  .img {
    height: 250px;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    width: 90%;
  }

  .img {
    height: 200px;
  }

  .device {
    gap: 50px;
    &-image {
      width: 100%;
    }

    &-info {
      width: 100%;
    }

    &-sell-tab {
      gap: 10px;
    }
  }
}

@keyframes open-device {
  from {opacity: 0.5;}
  to {opacity: 1;}
}

#loading{
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -75px 0 0 -75px;
  border: 16px solid #dcdcdc;
  border-radius: 50%;
  border-top: 16px solid #ed4e05;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
