@media only screen and (max-width: 600px) {
  .mobile-menu {
    width: 100vw;
    height: 100vh;
    background-color: white;
    font-family: "Inter", sans-serif;
    position: fixed;
    top: 0;
    left: -100vw;
    z-index: 1040;
    opacity: 1;
    box-shadow: 7px 0px 19px 2px rgba(179, 172, 172, 0.68);
    -webkit-box-shadow: 7px 0px 19px 2px rgba(179, 172, 172, 0.68);
    -moz-box-shadow: 7px 0px 19px 2px rgba(179, 172, 172, 0.68);
    overflow-x: hidden;
    overflow-y: scroll;

    & > .menu-header {
      width: 90%;
      margin: auto;
      height: 65px;
      display: flex;
      align-items: center;
      margin-bottom: 40px;
      & > span {
        color: #17223b;
        font-size: 30px;
      }
    }

    & > .menu-tabs {
      width: 90%;
      max-width: 450px;
      border-radius: 2px;
      border-bottom: 4px solid #f6f7f8;
      border-top: 4px solid #f6f7f8;
      margin: auto;
      height: auto;
      display: flex;
      flex-direction: column;
      border-bottom: 4px solid #f6f7f8;
      align-items: center;
      justify-content: center;
      padding: 40px 0px 40px 0px;
      margin-bottom: 60px;

      & > .menu-tab {
        width: 95%;
        height: 40px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 18px;
        border-radius: 10px;
        padding: 0px 10px 0px 10px;

        &:hover {
          background-color: #f4f4f4;
        }

        & > span {
          font-size: 20px;
          color: #bec5cd;
        }

        &:hover span {
          color: #ff5000;
        }
      }
    }

    #menu-icon {
      cursor: pointer;
      font-size: 30px;

      &:hover {
        color: #ff5000;
      }
    }

    .logo {
      display: flex;
      width: 90%;
      margin: auto;
      justify-content: center;
      margin-bottom: 40px;
      & > img {
        height: 80px;
        cursor: pointer;
      }
    }
  }

  .menu-footer {
    width: 90%;
    max-width: 450px;
    margin: auto;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-bottom: 30px;

    & > a {
      color: #17223b;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@media only screen and (min-width: 600px) and (max-width: 1000px) {
  .mobile-menu {
    display: none;
  }
}

@media only screen and (min-width: 1000px) {
  .mobile-menu {
    display: none;
  }
}

::-webkit-scrollbar {
  display: none;
}
