<div class="mobile-menu" [@slide]="'open'" *ngIf="menuOpen">
  <div class="menu-header">
    <span
      class="material-symbols-outlined"
      id="menu-icon"
      (click)="closeMenu()"
    >
      close
    </span>
  </div>

  <div class="logo">
    <img src="../../../assets/image/logo.png" alt="logo" [routerLink]="['/']" (click)="closeMenu()"/>
  </div>

  <div class="menu-tabs">
    <div class="menu-tab" [routerLink]="['mobiles']"  (click)="closeMenu()">
      Mobiles
      <span class="material-symbols-outlined"> arrow_forward_ios </span>
    </div>
    <div class="menu-tab" [routerLink]="['laptops']"  (click)="closeMenu()">
      Laptops
      <span class="material-symbols-outlined"> arrow_forward_ios </span>
    </div>
    <div class="menu-tab">
      TV | Monitors
      <span class="material-symbols-outlined"> arrow_forward_ios </span>
    </div>
    <div class="menu-tab">
      Accessories
      <span class="material-symbols-outlined"> arrow_forward_ios </span>
    </div>
    <div class="menu-tab">
      Audio Systems
      <span class="material-symbols-outlined"> arrow_forward_ios </span>
    </div>
  </div>

  <div class="menu-footer">
    <a href="#">Online installment</a>
    <a href="#">Branches</a>
    <a href="#">Schedule</a>
  </div>
</div>
