<nav class="nav-bar">
  <div class="content">
    <div class="tabs">
      <div class="tab">Mobiles</div>
      <div class="tab">Laptops</div>
      <div class="tab">TV | Monitors</div>
      <div class="tab">Accessories</div>
      <div class="tab">Audio Systems</div>
    </div>
    <span class="material-symbols-outlined menu-icon" (click)="openMenu()">
      menu
    </span>

    <div class="cart">
      <span class="material-symbols-outlined"> shopping_cart </span>
      <div>0 $</div>
    </div>
  </div>
</nav>

<app-mobile-menu [menuOpen]="menuOpen" (close)="menuOpen = $event"></app-mobile-menu>
