<div class="dashboard-container">
  <div class="filter">
    <input
      type="text"
      placeholder="Search..."
      class="search_bar"
      [(ngModel)]="searchText"
    />
    <mat-form-field appearance="fill">
      <mat-label>Sort by</mat-label>
      <mat-select [(value)]="selected">
        <mat-option value="price_asc" (click)="sort()">Price asc</mat-option>
        <mat-option value="price_desc" (click)="sort()">Price desc</mat-option>
        <mat-option value="views_desc" (click)="sort()">Popularity</mat-option>
        <mat-option value="manufacturer" (click)="sort()">A-Z</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="devices">
    <div
      class="device"
      *ngFor="let device of devicesData$ | appFilter : searchText | async"
    >
      <div class="device-top" (click)="deviceService.deviceId = device.id; expand(device.id)" [routerLink]="['/device', device.id]">
        <div class="device-views">
          <span class="material-symbols-outlined"> visibility </span>
          {{ device.views }}
        </div>
        <img
          src="{{ device.device_photo }}"
          alt="device photo"
          class="device-image"
        />
        <h1 class="device-name">
          {{ device.manufacturer + " " + device.model_name }}
        </h1>
        <p class="device-price">{{ device.price | currency }}</p>
      </div>
      <div class="device-bottom">
        <p
          class="device-category"
          [routerLink]="['/', device.category]"
        >
          #{{ device.category }}
        </p>
        <div class="cart" title="add to cart">
          <span
            class="material-symbols-outlined"
            (click)="addToCart(device.id)"
          >
            add_shopping_cart
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
