.dashboard-container {
  width: 95%;
  max-width: 1200px;
  margin: auto;
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-bottom: 50px;

  & > .devices {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 1200px;
    height: auto;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    align-items: center;
    animation-name: open-devices;
    animation-duration: 2.5s;

    & .device {
      display: flex;
      flex-direction: column;
      background-color: white;
      align-items: center;
      border-radius: 12px;
      gap: 10px;
      height: auto;
      position: relative;
      
      &-top {
        padding-top: 35px;     
        display: flex;
        flex-direction: column;
        gap: 25px;
        cursor: pointer;
        width: 100%;

        &:hover {
          & > .device-name {
            color: #ff5000;
            text-decoration: underline;
            font-weight: 800;
          }
        }
      }

      &-bottom {
        border-top: 1px solid #f5f5f5;
        position: relative;
        height: 65px; 
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 200px;
      }

      & .cart {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &:hover {
          background-color: #2c3b5d;

          & span {
            color: white;
          }
        }

        & > span {
          font-size: 30px;
        }
      }

      &-image {
        height: 150px;
        object-fit: contain;
      }

      &-views {
        position: absolute;
        font-size: 12px;
        display: flex;
        gap: 5px;
        align-items: center;
        justify-content: center;
        color: gray;
        top: 10px;
        right: 15px;
        & > span {
          font-size: 20px;
        }
      }

      &-name {
        font-size: 14px;
        text-align: center;
        width: 100%;
        font-weight: 700;
        color: #17223b;
      }

      &-price {
        font-size: 16px;
        color: #ff5000;
        text-align: center;
      }

      &-category {
        font-size: 14px;
        color: rgb(207, 207, 207);
        padding: 10px;
        cursor: pointer;

        &:hover {
          color: #000;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .dashboard-container {
    flex-direction: column;
  }

  .devices {
    justify-content: center;
    align-items: center;

    & .device {
      width: 90%;
      height: 250px;
    }
  }

  .filter {
    gap: 10px;
    flex-direction: column;

    & > .search_bar {
      width: 90%;
    }
  }
}

@media only screen and (min-width: 1000px) {
  .devices {
    justify-content: space-around;

    & .device {
      width: 260px;
      height: 250px;
    }
  }

  .search_bar {
    width: 350px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1000px) {
  .devices {
    justify-content: center;

    & .device {
      width: 250px;
      height: 250px;
    }
  }

  .search_bar {
    width: 350px;
  }
}

.filter {
  width: 100%;
  max-width: 1200px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  & > .search_bar {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    padding-left: 10px;
    height: 50px;
    border-radius: 6px;
    border: solid 1px #eff0f2;
    color: black;

    &::placeholder {
      color: rgb(49, 48, 48);
      font-size: 14px;
    }

    &:focus {
      outline: none;
      border-left: #ff5000 solid 3px;
    }
  }
}

@keyframes open-devices {
  from {
    opacity: 0.45;
  }
  to {
    opacity: 1;
  }
}
