<div class="dashboard-container">
  <div class="filter">
    <input type="text" placeholder="Search..." class="search_bar"  [(ngModel)]="searchText">
    <mat-form-field appearance="fill">
      <mat-label>Sort by</mat-label>
      <mat-select [(value)]="selected">
        <mat-option value="price_asc" (click)="getDevices()">Price asc</mat-option>
        <mat-option value="price_desc" (click)="getDevices()">Price desc</mat-option>
        <mat-option value="views_desc" (click)="getDevices()">Popularity</mat-option>
        <mat-option value="manufacturer" (click)="getDevices()">A-Z</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="devices">
    <div class="device" *ngFor="let device of devicesData | appFilter: searchText"
         (click)="deviceService.deviceId = device.id;expand(device.id)"
         [routerLink]="['/device', device.id]"
    >
      <div class="device-views">
        <span class="material-symbols-outlined"> visibility </span>
        {{ device.views }}
      </div>
      <img
        src="{{ device.device_photo }}"
        alt="device photo"
        class="device-image"
      />
      <h1 class="device-name">
        {{ device.manufacturer + " " + device.model_name }}
      </h1>
      <p class="device-price">{{ device.price | currency }}</p>
      <p class="device-category">#{{ device.category }}</p>
      <div class="cart" title="add to cart">
        <span class="material-symbols-outlined"> add_shopping_cart </span>
      </div>
    </div>
  </div>
</div>
